page-login {
	.form {
		position: absolute;
		margin-top: 30% !important;
	}
  .error {
		color: color($colors, danger);
	}

	.forgot {
		color: color($colors, primary);
		text-align: center;
	}

	.logo {		
		text-align: center;
		margin: 0 auto;
	}

	.logo img {
		height: 128px;
	}
	.login-logo {
		margin-top: 15%;
		text-align: center;
		font-size: 28px;
		font-weight: 300; }
		.button {
			border-color: #b2b2b2;
			background-color: #ccc;
			color: #444;
			position: relative;
			display: inline-block;
			margin: 0;
			padding: 0 12px;
			min-width: 52px;
			min-height: 47px;
			border-width: 0px;
			border-style: solid;
			border-radius: 0px;
			vertical-align: top;
			text-align: center;
			text-overflow: ellipsis;
			font-size: 16px;
			line-height: 43px;
			cursor: pointer; }
			.button:hover {
			  color: #444;
			  text-decoration: none; }
			.button.active,
			.button.activated {
			  border-color: #a2a2a2;
			  background-color: #e5e5e5;
			  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }
			.button:after {
			  position: absolute;
			  top: -6px;
			  right: -6px;
			  bottom: -6px;
			  left: -6px;
			  content: ' '; }	
	.login_back {
		background: url("../img/login-bg.jpg") no-repeat center center;
		background-size: 100% 100%; }
	    .login-tab .login .item-input {
			background: transparent; }
		  .login-tab .login .list {
			margin: 0 15px; }
			.login-tab .login .list .item {
			  border-bottom: 1px solid #ffffff;
			  border-top: 0px;
			  border-right: 0;
			  border-left: 0; }
			  .login-tab .login .list .item i {
				display: inline-block;
				font-size: 16px;
				color: white; }
			  .login-tab .login .list .item input {
				display: inline-block;
				padding-left: 15px; }
			  .login-tab .login .list .item input::-webkit-input-placeholder {
				color: #ffffff; }
			  .login-tab .login .list .item span {
				padding-left: 32px;
				padding-bottom: 2px;
				color: white; }
		  .login-tab .login .login-btn {
			margin: 0px 20px;
			padding-top: 45px; }
			.login-tab .login .login-btn .sign span {
			  color: #f5f5f5;
			  font-weight: 300;
			  font-size: 14px; }
			  .login-tab .login .login-btn .sign span a {
				color: #ffffff;
				margin: 10px; }
	  
	  .or {
		color: #fff; }
	  
	  .margtp {
		margin-top: 15px !important; }
	  
	  .login-bg {
		background: url("../img/login-bg.jpg") no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover; }

}

